
$dark-bg-color: rgb(33,35,46);
$dark-text-color: rgb(44,47,60);
$light-text-color: rgb(192,195,206);


$header-bg-image: url("../img/m-h-day.jpg");

$bg-color: white;
$card-bg-color: $dark-bg-color;
$footer-bg-color: $dark-bg-color;
$word-hilight-color: rgb(20,160,199);
$button-bg-color: rgb(105,153,0);

$banner-grad-colors: ('left':rgb(102,150,11), 'right':rgb(47,93,210));

$upper-logo-text-color: $dark-text-color;
$lower-logo-text-color: $light-text-color;

$button-text-color: white;

$header-text-color: $dark-text-color;
$header-link-color: white;

$main-heading-color: $dark-text-color;

$card-heading-color: white;
$card-text-color: $light-text-color;
$card-link-color: $light-text-color;

$banner-heading-color: $dark-text-color;
$banner-text-color: $light-text-color;

$footer-text-color: $light-text-color;


$font0: 'Source Sans Pro';
$font1: 'Hind';

$button-font: $font0;
$link-font: $font0;
$logo-font: $font1;
$header-font: $font1;
$section-heading-font: $font0;
$card-heading-font: $font0;
$card-text-font: $font1;
$banner-heading-font: $font0;
$banner-text-font: $font1;
$footer-text-font: $font1;